<h1 id="header">Welcome to Lehi's Random Lunch Generator</h1>

<div class="container-fluid">

  <div class="button-container">
    
          <%= link_to "Find me lunch!", @random_rest, class: "home-button btn-primary" %>
          <%= link_to "Submit a Restaurant", new_restaurant_path, class: "home-button btn-primary" %>

  </div>
</div>


</div>

