
<%= render 'pages/nav' %>

<h1 id="header">Welcome to Lehi's Random Lunch Generator</h1>

<div class="container-fluid">



  <div class="button-container">
    
    <%= link_to "Find me lunch!", root_path, class: "home-button btn-primary" %>

    <%= link_to "Login to add a Restaurant", root_path, class: "logged-out home-button btn-primary" %>

    <%= link_to "Add a Restaurant", root_path, class: "home-button btn-primary" %>

  </div>
</div>


</div>

