<h1 id="header">Welcome to Lehi's Random Lunch Generator</h1>

<div class="container-fluid">

  <div class="button-container">
    
    <%= link_to "Find me lunch!", @random_rest, class: "btn btn-primary" %>

    <% if logged_in?(:user) %>
        <%= link_to "Add a Restaurant", new_restaurant_path, class: "btn btn-primary" %>
    <% else %>
        <%= link_to "Login to add a Restaurant", new_user_session_path, class: "logged-out btn btn-primary" %>

    <% end %>
  </div>
</div>

