<h1 id="header">Welcome to Lehi's Random Lunch Generator</h1>

<div class="container-fluid">

  <div class="button-container">
    
          <%= link_to "Find me lunch!", root_path, class: "home-button btn-warning" %>
          <%= link_to "Submit a Restaurant", root_path, class: "home-button btn-dark" %>

  </div>
</div>


</div>

