@import "bootstrap";


.top-bar {
  padding-right: 30px;
  padding-left: 30px;
}


.index-picture {
  padding: 2%;
  width: 100%;
  height: 100%;
  background-repeat: cover; 
}

.cover {
/*css for full size background image*/
  background: url(https://i.ytimg.com/vi/xeCy36VuoS4/maxresdefault.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#nav-container {
  display:list-item;
  justify-content:right;

}

#nav ul {
  list-style-type:none;
  float:right;
  margin: 5px 50px 0 0;
}

#nav li {

  display: inline-block;
  padding: 5px;

}

.nav-styling {
  background-color: transparent;
  height: 100px;
}

.button-container {

  margin: 200px 0 0;
  width: 100%;
  display: flex;
  justify-content:center;
}


.btn-primary {

  margin: 30px

}

#header {
  text-align: center;
  width:100%;
  margin: 100px 0 0 0;
}

.restaurants {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.topbar > li {
  display: inline-block;
}

.row-color{
  background-color: rgba(47,72,141,0.8);
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.table-pic {
  padding: 20px;
}

.table-text {
  padding-top: 60px;
  text-align: center;
}

.display {
  height: 4500px;
}

.search-bar {
  padding-left: 40px;
}

.search-button {
  background-color: rgb(143, 183, 247);
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 3px;
}

.search-field {
  padding: 5px 20px 5px 20px;
  border-radius: 3px;
}

.site-background {
/*css for full size background image*/
  background: url(https://i.ytimg.com/vi/xeCy36VuoS4/maxresdefault.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-bottom: 300px;
}

.show-padding {
  padding-bottom: 300px;
}
