@import "bootstrap";

body{
  overflow: auto;
}

.top-bar {
  padding-right: 30px;
  padding-left: 30px;
}


.index-picture {
  padding: 2%;
  width: 100%;
  height: 100%;
  background-repeat: cover; 
}

.cover {
/*css for full size background image*/
  background: url(http://p1.pichost.me/i/66/1910819.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  height: 100%;
  background-color: #060;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
 
}

#nav-container {
  display:list-item;
  justify-content:right;

}

#nav ul {
  list-style-type:none;
  float:right;
  margin: 20px 50px 0 0;
}

#nav li {

  display: inline-block;
  padding: 5px;

}

.button-container {

  margin: 200px 0 0;
  width: 100%;
  display: flex;
  justify-content:center;
}


.btn-primary {

  margin: 30px

}

#header {
  text-align: center;
  width:100%;
  margin: 100px 0 0 0;
}

.restaurants {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.restaurants td, #restaurants th {
    border: 1px solid #ddd;
    padding: 8px;
}

.restaurants tr:nth-child(odd){
  background-color: grey;
}

.restaurants tr:nth-child(even){
  background-color: black;
  color: white;
}

.restaurants th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.topbar > li {
  display: inline-block;
}

.row-color{
  background-color: rgba(47,72,141,0.8);
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

.table-pic {
  padding: 20px;
}

.table-text {
  padding-top: 60px;
  text-align: center;
}
